h1{
    text-align: center;
    color: blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: rgb(158, 136, 74);
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20 px;
    background-color: rgb(240, 234, 148);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(136, 132, 132);
}
.card-container{
    display: flex;
    justify-content:space-between;
    gap: 20px;
}
.card{
    border: 1px solid black;
    flex:1;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: justify;
}
.harga{
    font-weight: bold;
}